html,body {
    max-width: 100%;
}
.container {
    width: 80%;
    margin: auto;
}
.header-section{
    width: 100%;
    margin: 20px auto;
    padding: 10px;
}

.header-section img {
    border-radius:25%;
}